// Base
body {
  color: $color-body;
  font-family: "locator-web", Helvetica, Arial;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  font-family: "freight-sans-condensed-pro", Helvetica, Arial;
  font-size: 35px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

a {
  border-bottom: 1px solid currentColor;
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: darken($color-brand, 20%);
  }
}

p,
li {
  font-size: $base-font-size;
  line-height: 1.5;
  margin-bottom: 25px;
}

ul {
  margin-bottom: 25px;
}

li {
  margin-bottom: 8px;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

img {
  width: 100%;
}

// Layouts
.l-main {
  font-family: "ff-tisa-web", serif;
  overflow: hidden;
}

.l-wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 80%;
}

// Modules

.m-section {
  padding: 30px 0;

  &:first-of-type {
    border-top: 1px solid $color-body;
  }
}

.m-toc {
  list-style-position: inside;
  margin: 40px 0;

  a {
    border-bottom: 0;
    display: inline-block;
  }
}

.m-footer {
  background-color: $color-body;
  border-top: 1px solid $color-gray-light;
  color: $color-white;
  padding: 40px 0;

  ul {
    list-style: none;
  }

  @media(min-width: 500px) {
    &__section {
      display: inline-block;
      vertical-align: top;
      width: 60%;

      &:nth-child(2) {
        width: 35%;
      }
    }
  }

  a {
    color: lighten($color-brand, 20%);

    &:hover {
      color: lighten($color-brand, 40%);
    }
  }
}

.m-header {
  background-color: $color-gray-dark;
  padding: 20px;

  svg {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    width: 200px;
  }

  &__nav {
    color: $color-white;
    display: inline-block;
    float: right;
    font-size: 12px;
    padding-top: 10px;
    text-align: right;
    text-transform: uppercase;
    vertical-align: middle;

    a {
      border-bottom: 0;
      color: $color-white;
      padding: 0 10px;

      &:hover {
        color: lighten($color-brand, 10%);
      }
    }
  }
}

.m-hero {
  background-attachment: fixed;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-gray-dark;
  padding: 150px 0;
  position: relative;
  text-align: center;

  * {
    position: relative;
    z-index: 10000;
  }

  &__title {
    color: $color-white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .8);

    @media(min-width: 500px) {
      font-size: 70px;
    }
  }
}

.m-logo {
  margin-bottom: 30px;
  text-align: center;
  
  a {
    border: none;
  }

  img {
    max-width: 100px;
  }
}

// Patterns

.p-icon {
  height: 20px;
  vertical-align: middle;
  width: 20px;
}

@media(min-width: 500px) {
  .wide {
    margin-left: -15%;
    max-width: 1000px;
    vertical-align: middle;
    width: 150%;
  }

  .right,
  .left {
    padding: 0 10px;
    position: relative;
    width: 55%;
  }

  .right {
    float: right;
    margin-right: -25%;
  }

  .left {
    float: left;
    margin-left: -25%;
  }
}
